*{
   margin: 0;
   padding: 0;
   background-color: #909B71;
   box-sizing: border-box; 
 }
 nav{
   padding: 20px;
   display: flex;
   justify-content: space-evenly;
   background-color: #F69C9E;
   color: white;
   margin-bottom: 10px;
 }
 a{
   text-decoration: none;
   color:#F4F4F4;
   background-color: #F69C9E;
 
 }
 
 h2{
   font-size: 25px;
 }
 .content{
   display: flex;
 }
 .colOne{
   padding-left: 300px;
   flex: 1;
   background-color: #F9D59B;
 }
 .colTwo{
   flex: 1;
   padding-top: 60px;
   padding-right: 400px;
}